/* ExperienceSection.module.css */

.heading {
    transition: letter-spacing 0.3s ease; /* Smooth transition */
    border-bottom: 2px solid black;
    font-weight: 300;
    text-transform: lowercase;
    padding: 10px;
    margin: 0;
  }
  
  .heading:hover {
    letter-spacing: 2px; /* Increase the space between letters on hover */
  }
  
  .content {
    padding: 40px;
  }
  