/* GENERAL */

@font-face {
  font-family: "PPGoshaSans";
  src: url("../public/fonts/PPGoshaSans-Regular.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PPGoshaSans";
  src: url("../public/fonts/PPGoshaSans-Bold.woff2") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PPGoshaSans", sans-serif, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #0f1b61;
  background: #f4f9fc;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  transition: letter-spacing 0.3s ease;
}
h1:hover {
  letter-spacing: 2px; /* Increase the space between letters on hover */
}
.subTile{
  margin-top: -3rem;
  opacity: 0.4;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: Btn border-box;
}

.onlyMidBtn {
  display: none !important;
}
.onlyBigBtn {
  display: block;
}
.onlyPhone {
  display: none;
}

.pointer:hover {
  cursor: pointer;
}

.container {
  padding: 0;
  margin: 0;
}
.main {
  padding: 2rem 10%;
}

.aboutFont {
  font-size: 1.3em;
  text-align: center;
}

/* EXPERIENCE */
.experienceContainer {
  position: relative;
  border-bottom: 5px solid #abdcec;
  border-left: 5px solid #abdcec;
  padding-bottom: 10px;
}
.lastClockContainer {
  position: relative;
  border-left: 5px solid #abdcec;
}
.clockImage {
  position: absolute;
  left: -32.5px;
}
.dateText {
  margin-left: 55px;
  margin-top: 0px;
  padding-top: 15px;
  font-size: 2em;
}

.companyDetailContainer {
  display: flex;
  container: cDetailContainer / inline-size;
}

@container cDetailContainer (max-width: 350px) {
  .companyDetails {
    padding: 0 15px !important;
    background: red;
  }
}
.viewProject {
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.companyDetails {
  flex: 1;
  margin-top: 10px;
  padding: 0 50px;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.tech-icon:hover {
  filter: grayscale(0%);
}
.tech-icon {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.tech-name {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.tech-item:hover .tech-name {
  opacity: 1;
}
/* MAIN PROJECTS */
.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 40px 20px;
  margin-bottom: 0;
}
.projectMain {
  padding: 0 20px;
}
/* SUB PROJECTS */
.subProjectContainer {
  display: grid;
  grid-gap: 15px;
  justify-content: center;
  padding: 20px;
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.modal {
  width: min(1000px, 90%);
  max-height: 90vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.modal-content {
  padding: 40px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-height: inherit;
}
/* PET PROJECTS */
/* .petProjectContainer {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 20px;
} */

/* CONTACT */
#contact-form {
  padding-top: 60px;
  width: 80%;
  max-width: 500px;
  text-align: left;
}
.from_container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: baseline;
  margin-bottom: 5px;
}
.email_container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  margin-bottom: 15px;
}
textarea,
input {
  border: none;
  background: none;
  border-image: "./hor_line.svg";
}
textarea {
  width: 100%;
}
textarea,
input:focus-visible {
  border: none;
  background: none;
  background-color: none;
  outline: none;
}
#button:hover {
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  body {
    text-align: center;
  }

  .main {
    padding: 1rem 10px !important;
  }
  .notPhone {
    display: none !important;
  }
  .onlyPhone {
    display: block;
  }
  .notPhone {
    display: none;
  }

  .aboutFont {
    font-size: 1.1em;
    text-align: justify;
  }

  .experienceContainer,
  .lastClockContainer {
    border-left: none;
  }
  .clockImage {
    left: 0px;
  }
  .dateText {
    margin-left: 0;
  }
  /* MAIN PROJECTS */
  .projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    /* margin: 40px 0; */
  }
  .projectMain {
    padding: 5px;
    width: 90%;
    margin: 0px 5%;
  }

  /* SUB PROJECTS */
  .subProjectContainer {
    grid-template-columns: 1fr !important;
  }
  .modal-content {
    grid-template-columns: 1fr;
  }

  /* PET PROJECTS */
  /* .petProjectContainer {
    grid-template-columns: repeat(1, 1fr) !important;
  } */
  /* CONTACT */
  #contact-form {
    padding-top: 10%;
  }
  /* #contact-form {
    padding-top: 60px;
    width: 100%;
    max-width: 500px;
  } */
  /* .label {
    height: 10px !important;
  } */
  /* .email_cont {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
  } */
  /* .message_label {
    height: 13px;
  } */
  #front_1_ {
    display: none !important;
  }
}
@media (max-width: 900px) {
  .main {
    padding: 2rem 10% !important;
  }
  /* .petProjectContainer {
    grid-template-columns: repeat(2, 1fr);
  } */
}
@media (max-width: 1100px) {
  /* EXPRERIENCE */
  .companyDetailContainer {
    flex-direction: column;
  }
  .companyDetails {
    margin-top: 25px;
  }
  .jobArrow {
    display: none !important;
  }
  .projectsContainer {
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
  .subProjectContainer {
    padding-bottom: 60px;
  }
  .col-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .onlyBigBtn {
    display: none;
  }
  .onlyMidBtn {
    display: flex !important;
  }
}

@media (max-width: 1300px) {
  .main {
    padding: 2rem 15%;
  }
  .projectsContainer {
  }
}

.petProjectContainer .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}